.btn-group.btn-group-xs{ role: 'group', 'aria-label': 'action button group' }
  %button.btn.btn-primary{ type: 'button' }
    %span.glyphicon.glyphicon-eye-open
  %button.btn.btn-danger{ type: 'button' }
    %span.glyphicon.glyphicon-remove-circle



